html
  head
    title= title
  body
    h1= message
    a(href = '/') Main
    p name: #{user.username}
    p email: #{user.email}
    div
      h2 Device List
      table(style="width:100%; text-align:center")
        thead
          tr
            th ID
            th Name
            th MAC
            th isActive
            th Paired with
        tbody
          each device, index in devices.length ? devices : []
            tr(class=(index % 2 == 0) ? 'odd' : 'even') 
              td= device.id
              td= device.title
              td= device.mac 
              td= device.isactive
              td= ""
    div
      h2 System Actions
      div
        h3 Switch light
        button(type='button' value="on" onclick='clickButton(' + 1 + ')') on
        button(type='button' value="off" onclick='clickButton(' + 0 + ')') off
      div
        h3 register device
        form(action='/registerDevice', method='POST')
          input(type='text' name='title' placeholder='name' required)
          input(type='text' name='mac' placeholder='MAC' required)
          input(type='submit')

  script. 
    function clickButton(value) {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/sendBitThroughGui", true);
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
      xhr.onload = function() {
        console.log(this.responseText);
      }
      xhr.send("value=" + value);
    }